In [1]:
import numpy as np
import pandas as pd
from xml.dom import minidom

In [69]:
   
xmldoc = minidom.parse('Zone_3.kml')
kml = xmldoc.getElementsByTagName("kml")[0]
document = kml.getElementsByTagName("Document")[0]
folder = document.getElementsByTagName("Folder")[0]
placemarks = folder.getElementsByTagName("Placemark")

longitudeList = []
latitudeList = []
buildingTypeList = []

for placemark in placemarks:
    # Extract type of the house
    #green: singleHouse, red: garage, yellow: commercial_building, pink: collective_house, blue:light_building, cyan:school
    color = placemark.getElementsByTagName("styleUrl")[0].firstChild.data
    if(color == "#green"):
        buildingType = "single_house"
    elif(color == "#red"):
        buildingType = "garage"
    elif(color == "#yellow"):
        buildingType = "commercial_building"
    elif(color == "#pink"):
        buildingType = "collective_house"
    elif(color == "#blue"):
        buildingType = "light_building"
    elif(color == "#cyan"):
        buildingType = "school"
    
    # Extract coordinates
    coords = placemark.getElementsByTagName("coordinates")[0].firstChild.data
    lst1 = coords.split(" ")
    lst2 = lst1[0].split(",")
    longitude = float(lst2[0])
    latitude = float(lst2[1])
    longitudeList.append(longitude)
    latitudeList.append(latitude)
    buildingTypeList.append(buildingType)
    
   # print("longitude: ", longitude,"latitude: ", latitude, "building_type: ", buildingType)
    
df = pd.DataFrame(list(zip(longitudeList, latitudeList, buildingTypeList)), 
               columns =['longitude', 'latitude', 'buildingType'])

In [70]:
df

     longitude   latitude         buildingType
0     7.767091  48.590639     collective_house
1     7.770702  48.594630  commercial_building
2     7.776720  48.588250         single_house
3     7.768809  48.594674  commercial_building
4     7.766940  48.591894     collective_house
..         ...        ...                  ...
797   7.768556  48.597937  commercial_building
798   7.781501  48.586944         single_house
799   7.781619  48.587025         single_house
800   7.763797  48.597398         single_house
801   7.763898  48.597386         single_house

[802 rows x 3 columns]

In [8]:
#Previous approach couldn't read the whole data set.

from bs4 import BeautifulSoup

fileName = 'Zone_3.kml'

with open(fileName) as data:
    kml_soup = BeautifulSoup(data, 'lxml-xml') # Parse as XML

placemarks = kml_soup.find_all('Placemark')

longitudeList = []
latitudeList = []
buildingTypeList = []

In [9]:
for placemark in placemarks:
    # Extract building type
    color = placemark.styleUrl.string
    if(color == "#green"):
        buildingType = "single_house"
    elif(color == "#red"):
        buildingType = "garage"
    elif(color == "#yellow"):
        buildingType = "commercial_building"
    elif(color == "#pink"):
        buildingType = "collective_house"
    elif(color == "#blue"):
        buildingType = "light_building"
    elif(color == "#cyan"):
        buildingType = "school"
    
    # Extract coordinates
    coords = placemark.Polygon.outerBoundaryIs.LinearRing.coordinates.string
    lst1 = coords.split(" ")
    lst2 = lst1[0].split(",")
    longitude = float(lst2[0])
    latitude = float(lst2[1])
    longitudeList.append(longitude)
    latitudeList.append(latitude)
    buildingTypeList.append(buildingType)
    
    
df = pd.DataFrame(list(zip(longitudeList, latitudeList, buildingTypeList)), 
               columns =['longitude', 'latitude', 'buildingType'])

df.to_csv('Zone_3.csv')

In [85]:
df

      longitude   latitude         buildingType
0      7.737361  48.614862         single_house
1      7.728645  48.633358         single_house
2      7.728844  48.633018         single_house
3      7.729358  48.616688               garage
4      7.729743  48.632626         single_house
...         ...        ...                  ...
3366   7.768556  48.597937  commercial_building
3367   7.781501  48.586944         single_house
3368   7.781619  48.587025         single_house
3369   7.763797  48.597398         single_house
3370   7.763898  48.597386         single_house

[3371 rows x 3 columns]